/* Основные стили, обновление под мобильные устройства */
.suggestions-list {
  background: #333;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #555;
  border-radius: 5px;
  display: none;
}
.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}
.suggestions-list li:hover {
  background: #444;
}
